body{font-size:12px;font-family:"微软雅黑"}
.clearfix{clear:both}
.x-left{float:left;}
.x-right{float:right;}
em{font-style:normal}
.x-row{margin-left:0px;margin-right:0px;}

.x-around{max-width:1000px;margin:0 auto;}
.x-carousel{bottom:-5px;}
.x-carousel li{background:#E7E7E7;width:12px;height:12px;}
.x-carousel li.active{background:#68C0C1;margin:1px;}
.x-headjt{position:absolute;top:7px;left:10px;z-index:99}
.x-headax{position:absolute;right:10px;top:10px;z-index:99;}
.x-shopname{padding:5px 10px 0px 10px;font-size:14px;}
.x-shopcolor{color:#94D2CF;}
.x-shopother{padding:3px 10px;}
.x-shopother .x-left span{color:#9F9F9F}
.x-shopother .x-right span{font-size:14px;}
.x-shopprice{clear:both;margin:10px 10px;font-size:14px;border-bottom:1px dotted #ccc;padding-bottom:10px;}
.x-shopuser{color:#AE276C;font-weight: bold;}
.x-shopuser em.x-xinghuibi{font-size:20px;}
.x-shopoprice{color:#9D9D9D;text-decoration:line-through;padding-left:10px;}
.x-shopzk{padding:5px 10px;}
.x-btn1{border:2px solid #61C0BA;border-radius:25px;background:#fff;color:#61C0BA;font-size:12px;margin-right:10px;}
.x-main{margin-top:10px;border-top:1px solid #ccc}
.x-qgtime{height:40px;line-height:40px;background:#DCDCDC;padding:0px 10px;color:#9B9B9B;}
.x-gouxuan{height:50px;background:#EEEEEE;height:70px;padding:15px 0px;}
.x-gxshop{padding:0px 10px;background:#fff;height:40px;line-height:40px;}
.x-gxyx{color:#979797;font-size:12px;}
.x-gxshop span{font-size:14px;}
.x-shopimage img{width:100%;}
.x-shopproduce{padding:0px 10px;}
.x-shopproduce h4{color:#9C9C9C;padding:10px;font-size:16px;border-bottom:1px dotted #ccc}
.x-produdename{padding-top:10px;}
.x-produdename span{color:#333;font-size:13px;}
.x-graytext{position: relative;display: -webkit-box;margin: 14px 0px;color: #9E9E9E;font-size: 14px;-webkit-box-pack: center;background:#EEEEEE;height:40px;line-height:40px;}
.x-graylayout{background-color: #EEEEEE;z-index: 10;position: relative;display: block;padding:0px 10px;}
.x-graytext:after {content: "";height: 1px;width: 100%;position: absolute;top: 50%;left: 0;background-color: #cbcbcb;}
.x-hothead{padding:0px 10px;background-color: #EEEEEE}
.x-grayimg{font-size:16px;font-weight:bold;}
.x-footer{position:fixed;bottom:0px;height:50px;background:#fff;width:100%;z-index:999;}
.x-paddr span,.x-paddr img{display:block;}
.x-paddr{padding-right:5px;padding-top:5px;position:relative;border-right:1px solid #ccc;padding-left:10px;height:50px;}
.x-paddr span.cshop{padding-top:3px;}
.x-number{position: absolute;background:#FF6766;color:#fff;border-radius:10px;width:25px;top:3px;left:25px;text-align:center}
.x-addshop{line-height:50px;text-align:center;}
.x-addshop a{color:#333;font-size:16px}
.x-addbuy{line-height:50px;background:#64C1BE;text-align:center}
.x-addbuy a{color:#fff;font-size:16px;}
/**********************我的账户**************************/
.you .bord{border:1px solid #68C3BC;display:block;width:50px;height:30px}




